body {
    display: flex;
    justify-content: center;
}

#viewport {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 1rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 8px 10px;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

li button {
    margin-left: 10px;
    margin-bottom: 5px;
} 

